.nav-sidebar {
  width: 60vw;
  height: 100vh;
  background-color: var(--nav-body);
  position: fixed;
  right: 0;
  top: 0;
  box-shadow: 2px 5px 5px var(--nav-drop-shadow);
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateX(100%);
  transition: all 300ms ease;
}
.open {
  transform: translateX(0);
}

.menu-close svg {
  font-size: 1.5rem;
  fill: var(--btn-bg);
  cursor: pointer;
  position: absolute;
  top: 1rem;
  right: 1rem;
}

.sidebar-btn-wrapper,
.sidebar-link-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 0.75rem;
  font-size: 1.5rem;
}

.sidebar-btn-wrapper {
  margin-bottom: 2rem;
}

.nav-sidebar .btn {
  font-size: 1.5rem;
}
