.members {
  width: 90%;
  margin: 0 auto;
  padding-block: 2rem;
}

.members-header {
  width: 100%;
  max-width: 900px;
  text-align: center;
  margin: 0 auto;
}

.members-header h1 {
  text-transform: uppercase;
  letter-spacing: 2px;
}

.members-header p {
  margin-top: 1.25rem;
  letter-spacing: 1px;
  line-height: 1.75rem;
}

.members hr {
  border-top: none;
  margin-block: 2rem;
}

@media (max-width: 500px) {
  .members-header p {
    text-align: justify;
    letter-spacing: unset;
  }
}
