.hexagon {
	top: 6.4vw;
	left: -28vw;
	position: relative;
	margin: 0 auto;
	background-color: var(--nav-body);
	border-radius: 5px;
	width: 141px;
	height: 83px;
	box-sizing: border-box;
	transition: all 1s;
	border: 3.0px solid transparent;
	z-index: 4;
	animation: animate 5s infinite;
}
@keyframes animate {
	0% {
		border-left-color: rgb(255, 0, 0);
		border-right-color: rgb(255, 0, 0);
	}
	25% {
		border-left-color: rgb(25, 0, 255);
		border-right-color: rgb(25, 0, 255);
	}
	50% {
		border-left-color: rgb(0, 255, 42);
		border-right-color: rgb(0, 255, 42);
	}
	100% {
		border-left-color: rgb(231, 181, 16);
		border-right-color: rgb(231, 181, 16);
	}
}

.hexagon:before,
.hexagon:after {
	content: "";
	border: inherit;
	position: absolute;
	top: -0.5vh;
	left: -0.5vh;
	background-color: var(--nav-body);
	height: 80px;
	width: 139px;
	border-radius: 2px;
	z-index: -100;
}

.hexagon:before {
	transform: rotate(60deg);
}
.hexagon:after {
	transform: rotate(-60deg);
}

.hexagon:nth-child(2) {
	left: calc(-10vw + 2vw);
	top: calc(-1.4vw + 2vw);
}
.hexagon:nth-child(3) {
	left: calc(10vw + 2vw);
	top: calc(-7.19vw + 2vw);
}
.hexagon:nth-child(4) {
	left: calc(29vw + 2vw);
	top: calc(-11.6rem + 2vw);
}

.hexanum {
	font-size: 2rem;
	background: -webkit-linear-gradient(
		rgb(27, 27, 27),
		rgb(27, 26, 26),
		rgb(238, 32, 32),
		rgb(238, 32, 32),
		rgb(238, 32, 32)
	);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
.hexacap {
	font-size: 1.2rem;
	background: -webkit-linear-gradient(rgb(27, 27, 27), rgb(27, 26, 26), rgb(238, 32, 32), rgb(238, 32, 32));
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

@media only screen and (min-width: 1200px) {
	.hexagon:nth-child(2) {
		left: calc(-11vw + 2vw);
		top: calc(-2.0vw + 2vw);
	}
	.hexagon:nth-child(3) {
		left: calc(8vw + 2vw);
		top: calc(-8.5vw + 2vw);
	}
	.hexagon:nth-child(4) {
		left: calc(27vw + 2vw);
		top: calc(-12.1rem + 2vw);
	}
}
/* small laptop view*/

@media only screen and (max-width: 1024px) {
	.hexagon:nth-child(2) {
		left: calc(-11vw + 2vw);
		top: calc(-3.7vw + 2vw);
	}
	.hexagon:nth-child(3) {
		left: calc(8vw + 2vw);
		top: calc(-11.8vw + 2vw);
	}
	.hexagon:nth-child(4) {
		left: calc(27vw + 2vw);
		top: calc(-12.7rem + 2vw);
	}
}

/*tablet view*/
@media only screen and (max-width: 768px) {
	.hexagon {
		left: -34vw;
	}
	.hexagon:nth-child(2) {
		left: calc(-13vw + 2vw);
		top: calc(-6.4vw + 2vw);
	}
	.hexagon:nth-child(3) {
		left: calc(9vw + 2vw);
		top: calc(-17.2vw + 2vw);
	}
	.hexagon:nth-child(4) {
		left: calc(32vw + 2vw);
		top: calc(-13.4rem + 2vw);
	}
}

/*mobile views*/

@media only screen and (max-width: 425px) {
	.hexagon {
		height: 43px;
		width: 75px;
		left: -115px;
	}
	.hexagon:before,
	.hexagon:after {
		height: 39px;
		width: 72px;
	}
	.hexagon:nth-child(2) {
		left: calc(-12vw + 2vw);
		top: calc(-9vw + 2vw);
	}
	.hexagon:nth-child(3) {
		left: calc(14vw + 2vw);
		top: calc(-22.2vw + 2vw);
	}
	.hexagon:nth-child(4) {
		left: calc(40vw + 2vw);
		top: calc(-7.2rem + 2vw);
	}
	.hexanum {
		position: relative;
		top: -9px;
		font-size: 20px;
	}
	.hexacap {
		font-size: 10px;
	}
}
