.user-login {
  margin: 10px 0;
  padding: 10px 3%;
  display: flex;
  width:100vw;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: row;
}
.user-img img {
  width: 500px;
}

form {
  margin: 20px 30px;
  padding: 10px;
  
}

h1{
  margin-bottom: 20px;
}

.details {
  margin-bottom: 20px;
  font-size: 1.1rem;
  
}

.name{
  display: grid;
  grid-template-columns:  repeat(2, minmax(calc(8.2rem + 5vw),0.3fr));;
}

.head-input{
  width: calc(9rem + 3vw);
  margin-right: 4rem;
}

.input-data{
  width: calc(21.4rem + 3vw);
}
.input__field {
  height: 2.2rem;
  
  padding: 0.3rem 0.5rem;
  margin-top: 0.3rem;
  font-size: 0.9rem;
  border: 1.5px solid rgba(214, 40, 40, 1);
  box-sizing: border-box;
  border-radius: 5px;
}

.input__field:hover {
  outline: 1px solid rgba(214, 40, 40, 1);
}

.input__field:focus {
  border: none;
  outline: 0.5px solid rgba(214, 40, 40, 1);
  box-shadow: 0 0 3px 1px rgba(214, 40, 40, 1);
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown button{
  background-color: #fff;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #000;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
  
}

.dropdown:hover .dropdown-content {
  display: block;
}
.dropdown-content p:hover {background-color: rgb(195, 83, 83);}

.details-input {
  width: 200px;
  height: 35px;
  font-size: 0.83rem;
  margin-top: 5px;
  border-radius: 4px;
  border: 2px solid rgba(214, 40, 40, 1);
}

.login-signup-btn {
  padding: 3%;
  width: 10rem;
  background-color: #eae2b7;
  border: 2px solid rgb(109, 107, 107);
  border-radius: 5px;
  font-weight: 600;
  cursor: pointer;
  border: none;
  margin-bottom: 20px;
}

.links {
  color: rgb(180, 178, 178);
}
.links:hover {
  color: rgba(214, 40, 40, 1);
}

@media (max-width: 868px) {
  .user-login {
    margin: 0 50px;
    padding: 5px 8%;
    flex-direction: column;
  }
}

@media (max-width: 668px) {
  .user-img img {
    width: 250px;
  }
  form {
    margin: 0;
    padding: 20px;
  }

  .name{
    display: grid;
    grid-template-columns:  repeat(2, minmax(calc(9rem + 5vw),0.3fr));;
  }

 .details{
   font-size: 0.8rem;
 }


 
.login-signup-btn {
 position: relative;
 left: 20vw;
}
}
