.user-login {
  margin: 20px 50px;
  padding: 15px 8%;
  display: flex;
  width:100vw;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}
.user-img img {
  width: 500px;
}

form {
  margin: 60px 100px;
  padding: 20px;
}

.details {
  margin: 20px 0;
  font-size: 1.2rem;
}

.input__field {
  height: 2.5rem;
  width: 18rem;
  padding: 0.5rem 0.5rem;
  margin-top: 0.5rem;
  font-size: 0.9rem;
  border: 1.5px solid rgba(214, 40, 40, 1);
  box-sizing: border-box;
  border-radius: 5px;
}

.input__field:hover {
  outline: 1px solid rgba(214, 40, 40, 1);
}

.input__field:focus {
  border: none;
  outline: 0.5px solid rgba(214, 40, 40, 1);
  box-shadow: 0 0 3px 1px rgba(214, 40, 40, 1);
}

.details-input {
  width: 200px;
  height: 35px;
  font-size: 0.83rem;
  margin-top: 5px;
  border-radius: 4px;
  border: 2px solid rgba(214, 40, 40, 1);
}

.login-signup-btn {
  padding: 3%;
  width: 10rem;
  background-color: #eae2b7;
  border: 2px solid rgb(109, 107, 107);
  border-radius: 5px;
  font-weight: 600;
  cursor: pointer;
  border: none;
  margin-bottom: 20px;
}

.links {
  color: rgb(180, 178, 178);
}
.links:hover {
  color: rgba(214, 40, 40, 1);
}

@media (max-width: 868px) {
  .user-login {
    margin: 0 50px;
    padding: 5px 8%;
    flex-direction: column;
  }
}

@media (max-width: 668px) {
  .user-img img {
    width: 250px;
  }
  form {
    margin: 0;
    padding: 20px;
  }
}
