.OTPSection {
  display: flex;
  justify-content: center;
  align-items: center;
}
.OTPSection h2 {
  position: absolute;
  top: 30%;
  background: linear-gradient(
    to right,
    #e6651a,
    #be8e07,
    #be8e07,
    #eb9122,
    #eb9122
  );
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}
.InputBox {
  text-align: center;
  position: relative;
  margin: 20% 5px 30px 5px;
  height: 50px;
  width: 50px;
  border-color: rgb(233, 154, 64);
  font-size: 30px;
  background-color: rgb(224, 220, 220);
}

.checkOTP {
  position: relative;
  top: 30px;
  left: 47%;
  border-radius: 30px;
  height: 30px;
  border-color: rgb(235, 91, 34);
  background-color: rgb(235, 91, 34);
  color: #fff;
  font-weight: 600;
}

@media (min-width:900px) {
  .OTPSection h2{
  top: 7%;
  font-size: 2rem;
  }
  .InputBox{
    top: 13px;
    width: 65px;
    height: 65px;
  }
  .checkOTP{
    height: 43px;
    width: 120px;
    left: 44%;
  }
}